/********************************/
/********************************/

@media only screen and (max-width: 1419px) {
  .content-paragraph {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .viewPointer, .media{
    font-size: 16px;
    margin-right: 50px;
  }
  .media{
    margin-left: -30px;
  }
  .content{
    margin-top: 1.2vw
  }
  nav{
    padding: 0px 50px;
  }
  header {
    height: 100px;
  }
  h1{
    padding: 2.1vw 0px;
  }
  h2{
    width: auto !important;
    font-size: 45px;
  }
  .links>ul>li, .account, .subDiv, .scollDown{
    font-size: 16px;
  }
  .scollDown {
    width: 116px;
  }
  .arrDown{
    height: 20px;
  }
  .bigNumber {
    font-size: 145px;
  }
  .container-content {
    margin-top: -9vw;
  }

  main{
    margin: 0px;
  }
  section{
    width: 506.02px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .sec2{
    flex-direction: column;
  }
  .imgSection{
    max-width: 100%;
  }
  .section-content {
    margin-top: 40px;
    width: 100%;
  } 

}

/*768*/
@media only screen and (max-width: 769px) {

  .links,
  .account, .media, .viewPointer, .scollDown{
    display: none;
  }
  .container{
    justify-content: center;
  }
  .mainView {
    max-width: 60%;
  }
  h1{
    font-size: 40px;
    line-height: 120%;
  }
  .hamburger {
    display: flex;
  }

  .hamburgerIcon {
    width: 20px;
  }

  nav {
    padding: 0px 60px;
  }
  .scollDown{
    width: 100%;
    justify-content: center;
  }
}