/********************************/
/********************************/

@media only screen and (max-width: 1419px) {
  .content-paragraph {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1025px){
  .MG{
    top: 30.166666vw;
  }
  .LG{
    top: 51.25vw;
  }
  .GRADG{
    top: 67.64375vw;
  }
}

@media only screen and (max-width: 1000px) {
  .viewPointer, .media{
    font-size: 16px;
    /*margin-right: 50px;*/
  }
  .media{
    /*margin-left: -30px;*/
  }
  .content{
    margin-top: 1.2vw
  }
  nav{
    padding: 0px;
    margin: 0px;
  }
  header {
    height: 100px;
  }
  h1{
    padding: 2.1vw 0px;
    font-size: 45px;
  }
  h2{
    width: auto;
    font-size: 45px;
  }
  .links>ul>li, .account, .subDiv, .scollDown{
    font-size: 16px;
  }
  .scollDown {
    width: 116px;
  }
  .arrDown{
    height: 20px;
  }
  .bigNumber {
    font-size: 145px;
  }
  .mainView {
    max-width: 500px;
  }
  .container-content {
    margin-top: -9vw;
  }
  .btnReadMore{
    font-size: 16px;
  }
  .arr{
    font-size: 10px;
  }
  main{
    margin: 0px;
  }
  section{
    width: 506.02px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .sec2{
    flex-direction: column;
  }
  .imgSection{
    max-width: 100%;
  }
  .section-content {
    margin-top: 40px;
    width: 100%;
  } 

}

/*768*/
@media only screen and (max-width: 769px) {

  /*.links,
  .account,*/ .viewPointer, .media{
    display: none;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mainView {
    max-width: 60%;
  }
  h1{
    font-size: 5.208vw;
    line-height: 120%;
  }
  h2{
    font-size: 40px;
  }
  .links>ul {
    outline: 1px solid yellow;
    width: 243px;
  }
  .links>ul>li, .account{
    font-size: 14px;
  }
  .media{
    margin-left: -5px;
    width: 233px;
    font-size: 14px;
  }
  .content {
    margin-top: 10px;
    width: 100%;
  }
  .MG{
    top: 29.166666vw;
  }
  .LG{
    top: 41.25vw;
  }
  .GRADG {
    top: 66.64375vw;
    position: block;
  }
  .container-content {
    margin-top: -12vw;
  }
  nav {
    padding: 0px 60px;
  }
  .scollDown{
    font-size: 15px;
  }/*
  .kinPointer{
    display: block;
  }*/
}

@media only screen and (max-width: 660px){
  body {
    overflow-x: hidden;
  }
  /*  */
  nav {
    padding: 0px 15px 0px 60px;
    outline: 1px solid blue;
  }
  .account{
    display: none;
  }
  .kinPointer{
    display: none;
  }
  .links>ul>li{
    display: flex;
    font-size: 15px;
  }
  .container{
    outline: 1px solid blue;
    justify-content: flex-start;
    padding-left: 65px;
    width: 100%;
  }
  .mainView {
    outline: 1px solid blue;
    max-width: 80%;
  }
  .G{
    width: 100%;
    overflow: hidden;
  }
  footer{
    outline: 1px solid violet;
  }
}

@media only screen and (max-width: 580px){
  section{
    width: 400px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  h1{
    font-size: 43px;
    line-height: 120%;
  }
  .container-content {
    margin-top: -90px;
  }
  .links{
    display: none;
  }
  .hamburger {
    display: flex;
    margin-right: 50px;
  }
  .hamburgerIcon {
    width: 23px;
  }
  .G{
    width: 200%;
    overflow: hidden;
  }
  .LG{
    top: 61.25vw;
  }
  .GRADG {
    top: 67.64375vw;
    position: block;
  }
}