*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --GiloryFont: Gilroy;
    --ChronicleFont: Chronicle Display;
    --zlatna: #FBD784;
    --bijela: #FFFFFF;
    --crna: #000000;
}
body{
    width: 100%;
}
.HG{
    max-width: 100%;
}
