*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
:root{
    --bg: #0B1D26;
    --bijela: white;
    --zlatna: #FBD784;
    --ChronicleDisplay: 'Chronicle Display', sans-serif;
    --Gilory: 'Gilroy', sans-serif;
}
body{
    background: var(--bg);
}
.imgs{
    top: 0;
    position: relative;
}
.G{
    width: 100%;
    position: absolute;
    z-index: 0;
}
.OG{
    width: 100%;
}
.HG{
    width: 100%;
}
.MG{
    top: 20.166666vw;
}
.LG{
    top: 35.25vw;
}
.GRADG{
    top: 58.34375vw;
    position: block;
}
.mnPage{
    position: relative;
    width: 100%; height: 100vh;
}

/*HEADER*/

header, nav{
    width: 100%;
    color: var(--bijela);
}
header{
    height: 153px;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
.links{
    width: 283px;
}
.links > ul{
    width: 283px;

    display: flex;
    justify-content: space-between;
}
.links > ul > li{
    display: inline;
}
.links > ul > li, .account{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 22px;
    color: var(--bijela);
    
    text-decoration: none;
    list-style: none;
}
.logoMNTN{
    color: var(--bijela);
    font-size: 24px;
    font-family: var(--ChronicleDisplay);    
}
.account{
    width: 98px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*MAIN*/

.content{
    margin-top: 4.979vw;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.media, .scollDown{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 22px;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.media{
    width: 173px;
    transform: rotate(90deg);
}
.scollDown{
    width: 136px;
}
.scollDown:hover{
    transform: scale(1.05);
    color: var(--zlatna);
    cursor: pointer;
    fill: var(--zlatna);
}
.mainView{
    width: 950px;
}
.subDiv{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--zlatna);

    display: flex;
    align-items: center;
}
.lineDiv{
    background-color: var(--zlatna);
    width: 72px;
    height: 2px;
}
.hikingGuide{
    padding-left: 32px;
}
h1{
    font-family: var(--ChronicleDisplay);
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;

    color: var(--bijela);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 32px 0px;
}
.kinPointer{
    position: relative;
    height: 240px;
    width: 77px;
}
.viewPointer{
    position: fixed;
    height: 240px;
    width: 77px;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));
    color: var(--bijela);
    font-family:  var(--Gilory);
    font-weight: bold;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 80px;
}
.viewLeft{
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
}
.viewRight, .viewFill{
    width: 3px;
    background-color: rgba(255,255,255, 1);
}
.viewFill{
    height: 20%;
}
.viewRight{
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
}

/*MAIN - GRID*/

main{
    position: relative;
    margin: 0px 229px;
    /*top: 75vw;11.927%*/

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 200px;
}

section{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.cc2{
    margin-left: 114px;
}
.section-content{
    width: 60%; 
}
.section-content{
    margin-top: 38px;
}
.container-content{
    margin-top: -141px;
    margin-left: 130px;
}
.bigNumber{
    position: block;
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: var(--bijela);
    opacity: 0.1;
    z-index: -1;
}
h2{
    font-family: var(--ChronicleDisplay);
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    color: var(--bijela);
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 27px 0px;

    width: 555px;
}
.content-paragraph{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--bijela);

    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;

    width: 90%;
    padding-bottom: 27px;
}
.btnReadMore{
    font-family: var(--Gilory);
    font-size: 18px;
    line-height: 22px;
    color: var(--zlatna);
    background: none;
    border: none;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.arr{
    padding-left: 16px;
}

/* FOOTER */
footer{
    position: relative;
    margin: 120px 229px;
}
.footer-container{
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ft-ct-left{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-paragraph, .copyright, .ft-right-links > li{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: var(--bijela);
}
.footer-paragraph{
    margin-top: 24px;
    width: 303px;
}
.copyright{
    opacity: 0.5;
}
.ft-ct-right{
    height: 100%;
    width: 566px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.ft-right-header{
    font-family: var(--Gilory);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--zlatna);

    padding-bottom: 16px;
}
.footer-nav{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
}
.ft-right-links{
    text-decoration: none;
    list-style: none;
}
.ft-right-links > li{
    margin: 14px 0px;
}
.ft-right-links > li:last-child{
    margin: 8px 0px 0px 0px;
}